*{
  margin: 0;
  padding: 0;
  font-family: 'Lato', Verdana;
}

@font-face {
  font-family: CabinSketch-Bold; src: url('media/CabinSketch-Bold.otf');
}

html{
  position: relative;
  min-height: 100%;
}

body{
  background-color: #F1F1F2;
}

main{
  width: 100%;
  float: left;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.white{
  background: #fff !important;
}

#login{
  background-image: url("media/bg.jpg");
  background-size: cover;
  text-align: center;
}

section{
  padding-top: 60px;
}

section h2{
  text-align: center;
}

.indexcontainer{
  height: 400px;
  position: relative;
  position: absolute;
  top: 42%;
  left: 20px;
  right: 20px;
  color: white;
  padding: 20px;
  transform: translateY(-50%);
  resize: vertical;
  overflow: auto;
  resize: vertical;
  overflow: auto;
}

input{
  margin: 20px auto;
  width: 300px;
  padding: 15px 0 15px 20px;
  background: #FFF;
  color: #6F6F6F;
  font-size: 14px;
  border-radius: 4px;
  display: block;
  border: none;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

h2{
  color: #f1f1f2;
  font-size: 48px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #BCBCBC;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #BCBCBC;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #BCBCBC;
}
:-moz-placeholder { /* Firefox 18- */
  color: #BCBCBC;
}


button{
  padding: 15px 35px;
  border-radius: 4px;
  background: #FFF;
  font-size: 15px;
  border: none;
  color: #00A19B;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

button:hover{
  background: #00A19B;
  color: white;
}

h1{
  font-size: 60px;
  margin-bottom: 30px;
}

.tagline{
  margin: 0 auto;
  width: 400px;
}

#popup{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.7);
  width: 100%;
  height: 100%;
  display: none;
}

#popup-main{
  position: fixed;
  width: 600px;
  height: 800px;
  border: 2px solid white;
  border-radius: 4px;
  background-color: #F0F0F0;
  left: 50%;
  margin-left: -300px;
  top: 50%;
  margin-top: -400px;
}

#close-popup{
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border: 2px solid black;
  text-align: center;
  font-weight: bold;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

#close-popup p{
  font-weight: bold;
  margin-top: 3px;
}

.vote{
  float: left;
  margin: 0 auto;
  text-align: center;
  width: 1100px;
  height: 75px;
  background: #f1f1f2;
}

#votebutton{
  float: left;
  margin: 20px 0 0 20px;
  width: 26px;
  height: 15px;
  background-image: url("media/vote.png");
}

#number{
  font-size: 14px;
}

#votebutton2{
  float: left;
  margin: 20px 0 0 20px;
  width: 26px;
  height: 15px;
  background-image: url("media/vote.png");
}

#votebutton2 p{
  padding-top: 16px;
  font-size: 14px;
}

#votebutton3{
  float: left;
  margin: 20px 0 0 20px;
  width: 26px;
  height: 15px;
  background-image: url("media/vote.png");
}

#votebutton3 p{
  padding-top: 16px;
  font-size: 14px;
}

#votebutton4{
  float: left;
  margin: 20px 0 0 20px;
  width: 26px;
  height: 15px;
  background-image: url("media/vote.png");
}

#votebutton4 p{
  padding-top: 16px;
  font-size: 14px;
}

#votebutton5{
  float: left;
  margin: 20px 0 0 20px;
  width: 26px;
  height: 15px;
  background-image: url("media/vote.png");
}

#votebutton5 p{
  padding-top: 16px;
}

#votebutton6{
  float: left;
  margin: 20px 0 0 20px;
  width: 26px;
  height: 15px;
  background-image: url("media/vote.png");
}

#votebutton6 p{
  padding-top: 16px;
  font-size: 14px;
}

#votebutton7{
  float: left;
  margin: 20px 0 0 20px;
  width: 26px;
  height: 15px;
  background-image: url("media/vote.png");
}

#votebutton7 p{
  padding-top: 16px;
  font-size: 14px;
}

#votebutton8{
  float: left;
  margin: 20px 0 0 20px;
  width: 26px;
  height: 15px;
  background-image: url("media/vote.png");
}

#votebutton8 p{
  padding-top: 16px;
  font-size: 14px;
}

#votebutton9{
  float: left;
  margin: 20px 0 0 20px;
  width: 26px;
  height: 15px;
  background-image: url("media/vote.png");
}

#votebutton9 p{
  padding-top: 16px;
  font-size: 14px;
}

#votebutton10{
  float: left;
  margin: 20px 0 0 20px;
  width: 26px;
  height: 15px;
  background-image: url("media/vote.png");
}

#votebutton10 p{
  padding-top: 16px;
  font-size: 14px;
}

#lessonplanfrontcontainer{
  left: 10%;
  margin: 70px 0 0 0;
  text-align: center;
  width: 1100px;
  position: absolute;
}

#forumfrontcontainer{
  display: none;
  left: 10%;
  margin: 70px 0 0 0;
  text-align: center;
  width: 1100px;
  position: absolute;
}

.votenumber{
  width: 100%;
  box-shadow: none;
  margin: 4px 0 0 -18px;
  background: none;
  -webkit-touch-callout: none;
}

.posttext{
  color: #646464;
  font-size: 18px;
  margin: 25px 0 0 20px;
  float: left;
}

#intro{
  margin: 0 auto;
  padding: 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.bigimage{
  max-width: 1000px;
  flex: 2;
}

.bigimage img{
  width: 100%;
}

.smallimage{
  display: flex;
  max-width: 350px;
  flex-direction: column;
  flex: 1;
}

.smallimage2{
  max-width: 450px;
  justify-content: flex-end;
  flex-direction: column;
  flex: 1;
}

.smallimage img{
  width: 100%;
}

.test{
  width: 100%;
  height: 100%;
}




.item1 {
  grid-area: menu;
  background-image: url('media/kubo1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
 }
.item2 {
  grid-area: right;
  background-image: url('media/kubo2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.item3 {
  grid-area: right2;
  background-image: url('media/kubo2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-container {
  width: 1100px;
  height: 500px;
  margin: 0 auto;
  padding-bottom: 80px;
  display: grid;
  grid-template-areas:
    'menu menu right'
    'menu menu right2';
  grid-gap: 10px;
}

.bigimagetext{
  color: white;
  font-size: 24px;
  margin: 450px 0 0 20px;
  float: left;
  bottom: 0;
}

.smallimagetext{
  color: white;
  font-size: 17px;
  margin: 200px 0 0 20px;
  float: left;
  bottom: 0;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

#trending{
  height: 700px;
  float:left;
  width: 100%;
  background: #044C7F;
}

.active{
  background-color: #F1F1F2 !important;
    color: #00A19B !important;
}

.category{
  width: 50%;
  height: 40px;
  cursor: pointer;
  padding-top: 20px;
  float: left;
  background: #FFF;
  background-color: #044C7F;
  color: #F1F1F2;
}

.category:hover{
  background-color: #18679F;
}


#news {
  height: 800px;
  float:left;
  width: 100%;
  background: #DDDDDD;
}

#news h2{
  color: black;
  padding-right: 40px;
}

#news h3{
color:#ffffff;
font-size: 20px;
}

#news p{
  color:black;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 3%;
  font-size: 14px;
  text-align:left;
  line-height: 1.3;
}



#news-container{
  height: 600px;
  width: 75%;
  margin-left:11%;
  margin-top: 3%;
  display: grid;
  grid-template-areas:
  'news1 news2'
  'news3 news4';
  grid-gap: 30px;
}

.news1{
background-color: white;
grid-area:news1;
}



.news2{
background-color: white;
grid-area:news2;
}



.news3{
background-color: white;
grid-area:news3;
}



.news4{
background-color: white;
grid-area:news4;
}


.news-container {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
}


button.newsbutton{
  height: 55px;
  width: 100%;
  background-color: #044C7F;
  margin-top: 50px;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

button.newsbutton:hover{
  background-color: #216393;
}

.news-content{
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

footer{
  height: 200px;
  width: 100%;
  background-color: #044C7F;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.footer-container{
padding-top: 50px;
grid-template-columns;
grid-gap: 10px;
  display:grid;
  grid-template-areas:
  'footer1 footer2 footer3'
}

.footer1 {
  position: relative;
  bottom: 0;
  margin-top: -180px; /* negative value of footer height */
  height: 180px;
  clear:both;
}

.footer1 a{
  color:#ffffff;
  text-decoration: none;
}

.footer2{
  color:#ffffff;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  grid-area: footer2;
}
.footer3{
  color:#ffffff;
  padding-left: 40px;
  padding-right:330px ;
  text-align: left;
  grid-area: footer3;
}


.overlay{
  position: relative;
  margin: -44px 0 0 20px;
  font-size: 20px;
  text-align: left;
  color: #FFF;
}

.headerstyle{
  margin-right: 30px;
  overflow: hidden;
}

ul{
  margin:0;
  padding:0;
}

header{
  padding-top:30px;
  height:100px;
}

header a{
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
  color: #646464;
}

header li{
  float:right;
  display:inline;
  padding: 0 20px 0 20px;
}

header nav{
  float:right;
  margin-top:10px;
  color: #646464
}

.current{
  color: #00A19B;
  font-weight:bold;
}

.logo{
  float: left;
  padding-left: 35px;
}



/* LESSONPLANS.HTML STYLE */

#categories{
  width: 100%;
  background: #00A19B;
  color: #FFF;
  padding: 0 0 20px 0;
  z-index: 10000;
}


.categories{
  width: 80%;
  margin: 0 auto;
}

.categories p{
  background: rgba(255,255,255,0.3);
  cursor: pointer;
  display: inline;
  padding: 8px 12px;
  margin-left: 8px;
  margin-top: 20px;
  display: inline-block;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s linear;
}

.categories p:hover{
  background-color: rgba(255,255,255,0.6);
}

.chosen{
  background: #FFF !important;
  color: #00A19B;
}

#lessonplans{
  width: 80%;
  margin: 0 auto;
}

.details{
  margin: 87px 0 0 0;
}

.lessonplanoverview{
  margin: 0 auto;
  padding-bottom: 80px;
  display: grid;
  grid-template-areas:
    'plan1 plan2'
    'plan3 plan4';
  grid-gap: 10px;
}

.lessonplanoverview img{
  display: inline;
}

.level{
  display: inline;
  font-size: 13px;
  margin-right: 16px;
}

.time{
  display: inline;
  font-size: 13px;
  margin-bottom: 4px;
}

.lectionname{
  font-size: 24px;
  text-decoration: none;
  color: #FFF;
  padding: 0 0 10px 0;
}

.author{
  color: #FFF;
  padding-top: 10px;
  font-size: 13px;
  display: inline-block;
}

.lessonplandetails{
  margin: 0;
  color: #FFF;
  width: 200px;
  margin: 0;
  padding: 12px;
  display: inline-block;
}

.lessonplanimg{
  margin: 0;
}

.lessonplanimg img{
  width: 48%;
  height: 250px;
  float: left;
}

.plan1 {
  background-color: #00A19B;
  grid-area: plan1;
 }

.plan2 {
  background-color: #00A19B;
  grid-area: plan2;
}

.plan3 {
  background-color: #00A19B;
  grid-area: plan3;
}

.plan4 {
  background-color: #00A19B;
  grid-area: plan4;
}



/* LESSONPLAN1.HTML STYLE */

#top{
  background-color: #00A19B;
  width: 100%;
  color: white;
  padding: 0;
}

.topdiv{
  width: 80%;
  margin: 0 auto;
  font-size: 40px;
}

.topdiv h1{
  padding: 20px 0 20px 0;
}

#lessonplancontainer{
  display: grid;
  width: 80%;
  height: 500px;
  margin: 0 auto;
  grid-gap: 10px;
  grid-template-areas:
    'about about about about info'
    'aside main main main main'
    'aside main main main main'
    'aside main main main main'
    'aside main main main main';
}

.about{
  grid-area: about;

}

.info{
  grid-area: info;
}

.aside{
  grid-area: aside;
    background-color: grey;
}

.main{
  grid-area: main;
    background-color: grey;
}

.about h3{
  color: #00A19B;
  margin: 10px 0 0 15px;
}

.about p{
  background-color: #FFF;
  border-radius: 4px;
  color: #646464;
  padding: 10px 15px;
  margin: 10px 0 0 0;
}

.info h3{
  color: #00A19B;
  margin: 10px 0 0 15px;
}

.info p{
  background-color: #969696;
  border-radius: 4px;
  color: #FFF;
  padding: 10px 15px;
  margin: 10px 0 0 0;
}
