*{
  margin: 0;
  padding: 0;
  font-family: 'Lato', Verdana;
}

@font-face {
  font-family: CabinSketch-Bold; src: url('media/CabinSketch-Bold.otf');
}

main{
  width: 100%;
  float: left;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.white{
  background: #fff !important;
}

#login{
  background-image: url("media/bg.jpg");
  background-size: cover;
  text-align: center;
}

section{
  padding-top: 60px;
}

section h2{
  text-align: center;
}

.indexcontainer{
  height: 400px;
  position: relative;
  position: absolute;
  top: 42%;
  left: 20px;
  right: 20px;
  color: white;
  padding: 20px;
  transform: translateY(-50%);
  resize: vertical;
  overflow: auto;
  resize: vertical;
  overflow: auto;
}

input{
  margin: 20px auto;
  width: 300px;
  padding: 15px 0 15px 20px;
  background: #FFF;
  color: #6F6F6F;
  font-size: 14px;
  border-radius: 4px;
  display: block;
  border: none;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

h2{
  color: #f1f1f2;
  font-size: 48px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #BCBCBC;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #BCBCBC;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #BCBCBC;
}
:-moz-placeholder { /* Firefox 18- */
  color: #BCBCBC;
}

button{
  padding: 15px 35px;
  border-radius: 4px;
  background: #FFF;
  font-size: 15px;
  border: none;
  color: #00A19B;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

button:hover{
  background: #00A19B;
  color: white;
}

h1{
  font-size: 60px;
  color: #FFF;
  margin-bottom: 30px;
  font-family: "CabinSketch-Bold", Verdana;

}

.tagline{
  margin: 0 auto;
  width: 400px;
}

#popup{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.7);
  width: 100%;
  height: 100%;
  display: none;
}

#popup-main{
  position: fixed;
  width: 600px;
  height: 800px;
  border: 2px solid white;
  border-radius: 4px;
  background-color: #F0F0F0;
  left: 50%;
  margin-left: -300px;
  top: 50%;
  margin-top: -400px;
}

#close-popup{
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border: 2px solid black;
  text-align: center;
  font-weight: bold;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

#close-popup p{
  font-weight: bold;
  margin-top: 3px;
}

.vote{
  float: left;
  margin: 0 auto;
  text-align: center;
  width: 1100px;
  height: 100px;
  background: #f1f1f2;
}

#votebutton{
  float: left;
  width: 26px;
  height: 15px;
  background-image: url("media/vote.png");
}

#votebutton p{
  padding-top: 16px;
  font-size: 14px;
}

#votebutton2{
  float: left;
  width: 26px;
  height: 15px;
  background-image: url("media/vote.png");
}

#votebutton2 p{
  padding-top: 16px;
  font-size: 14px;
}

#votebutton3{
  float: left;
  width: 26px;
  height: 15px;
  background-image: url("media/vote.png");
}

#votebutton3 p{
  padding-top: 16px;
  font-size: 14px;
}

#votebutton4{
  float: left;
  width: 26px;
  height: 15px;
  background-image: url("media/vote.png");
}

#votebutton4 p{
  padding-top: 16px;
  font-size: 14px;
}

#votebutton5{
  float: left;
  width: 26px;
  height: 15px;
  background-image: url("media/vote.png");
}

#votebutton5 p{
  padding-top: 16px;
}

#votebutton6{
  float: left;
  width: 26px;
  height: 15px;
  background-image: url("media/vote.png");
}

#votebutton6 p{
  padding-top: 16px;
  font-size: 14px;
}

#votebutton7{
  float: left;
  width: 26px;
  height: 15px;
  background-image: url("media/vote.png");
}

#votebutton7 p{
  padding-top: 16px;
  font-size: 14px;
}

#votebutton8{
  float: left;
  width: 26px;
  height: 15px;
  background-image: url("media/vote.png");
}

#votebutton8 p{
  padding-top: 16px;
  font-size: 14px;
}

#votebutton9{
  float: left;
  width: 26px;
  height: 15px;
  background-image: url("media/vote.png");
}

#votebutton9 p{
  padding-top: 16px;
  font-size: 14px;
}

#votebutton10{
  float: left;
  width: 26px;
  height: 15px;
  background-image: url("media/vote.png");
}

#votebutton10 p{
  padding-top: 16px;
  font-size: 14px;
}

#lessonplanfrontcontainer{
  margin: 50px 0 0 0;
  text-align: center;
  width: 1100px;
  margin: 0 auto;
}

#forumfrontcontainer{
  left: 12%;
  display: none;
  margin: 50px 0 0 0;
  text-align: center;
  width: 1100px;
  margin: 0 auto;
  position: absolute;
}

.votenumber{
  width: 100%;
  box-shadow: none;
  margin: 4px 0 0 -18px;
  background: none;
  -webkit-touch-callout: none;
}

.posttext{
  color: #646464;
  font-size: 18px;
  margin: 20px 0 0 10px;
  float: left;
}

#posttext{
  color: #646464;
  font-size: 18px;
  margin: 20px 0 0 10px;
  float: left;
}

.container{

}

#intro{
  margin: 0 auto;
  padding: 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.bigimage{
  max-width: 1000px;
  flex: 2;
}

.bigimage img{
  width: 100%;
}

.smallimage{
  display: flex;
  max-width: 350px;
  flex-direction: column;
  flex: 1;
}

.smallimage2{
  max-width: 450px;
  justify-content: flex-end;
  flex-direction: column;
  flex: 1;
}

.smallimage img{
  width: 100%;
}

.test{
  width: 100%;
  height: 100%;
}




.item1 {
  grid-area: menu;
  background-image: url('media/kubo1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
 }
.item2 {
  grid-area: right;
  background-image: url('media/kubo2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.item3 {
  grid-area: right2;
  background-image: url('media/kubo2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-container {
  width: 1100px;
  height: 500px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    'menu menu right'
    'menu menu right2';
  grid-gap: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}





#trending{
  height: 700px;
  float:left;
  width: 100%;
  background: #044C7F;
}

.active{
  background-color: #F1F1F2 !important;
    color: #00A19B !important;
}

.category{
  width: 50%;
  height: 40px;
  cursor: pointer;
  padding-top: 20px;
  float: left;
  background: #FFF;
  background-color: #044C7F;
  color: #F1F1F2;
}

.category:hover{
  background-color: #18679F;
}

#news{
  height: 400px;
  float:left;
  width: 100%;
  background: orange;
}

footer{
  height: 200px;
  float:left;
  width: 100%;
  background: green;
}

.overlay{
  position: relative;
  margin: -44px 0 0 20px;
  font-size: 20px;
  text-align: left;
  color: #FFF;
}

.headerstyle{
  width: 88%;
  margin: auto;
  overflow: hidden;
}

ul{
  margin:0;
  padding:0;
}

header{
  padding-top:30px;
  height:100px;
}

header a{
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
  color: #646464;
}

header li{
  float:right;
  display:inline;
  padding: 0 20px 0 20px;
}

header nav{
  float:right;
  margin-top:10px;
  color: #646464
}

.current{
  color: #00A19B;
  font-weight:bold;
}

.logo{
  float: left;
  padding-left: 35px;
}
